* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* #main-header {
  background: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

* #main-header .header-content {
  margin-right: 50px;
}

* #main-header .header-content h1 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 50px;
  margin-top: 20px;
}

* #main-header .header-content h3 {
  font-family: monospace;
  font-weight: 200;
  font-size: 30px;
}

* #main-header .header-content p {
  max-width: 450px;
  line-height: 1.5em;
  font-size: 25px;
  font-weight: 100;
}

* #main-header .header-content button {
  background: none;
  border-style: none;
  width: 200px;
  color: white;
  border: 1px solid white;
  padding: 20px;
  margin-top: 40px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-transform: translate3d(100%);
          transform: translate3d(100%);
}

* #main-header .header-content button:hover {
  background: rgba(255, 255, 255, 0.246);
  color: black;
  font-weight: 700;
  -webkit-transform: translate3d(0);
          transform: translate3d(0);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

* .container {
  margin: 0  50px;
  padding: 30px;
}

* #body {
  margin: 30px 10px;
}

* #body .body-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-box-shadow: -2px -1px 5px 2px grey;
          box-shadow: -2px -1px 5px 2px grey;
  margin-bottom: 40px;
  padding: 30px;
}

* #body .body-row .body-first-col img, * #body .body-row .body-fourth-col img {
  width: 100%;
  height: 530px;
  padding: 30px;
  -webkit-box-shadow: -5px -3px 7px 4px grey;
          box-shadow: -5px -3px 7px 4px grey;
}

* #body .body-row .body-second-col {
  margin-left: 50px;
}

* #body .body-row .body-third-col {
  margin-left: 30px;
}

* #body .body-row h2 {
  font-family: monospace;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

* #body .body-row p {
  max-width: 450px;
  line-height: 1.5em;
  font-size: 25px;
  font-weight: 100;
}

* #highlights {
  background-color: black;
  color: white;
}

* #highlights .hightlight-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* #highlights .hightlight-content .highlight-col-one h2 {
  font-family: monospace;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

* #highlights .hightlight-content .highlight-col-one p {
  max-width: 450px;
  line-height: 1.5em;
  font-size: 18px;
}

* #highlights .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px outset white;
}

* #highlights .content h4 {
  font-family: monospace;
  font-size: 20px;
}

* #highlights .content p {
  padding: 5px;
  max-width: 600px;
}

#gathering {
  margin: 60px 0;
}

#gathering .gathehring-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#gathering .gathehring-content .gathering-col-one img {
  width: 100%;
  height: 600px;
  padding: 30px;
  -webkit-box-shadow: -5px -3px 7px 4px grey;
          box-shadow: -5px -3px 7px 4px grey;
}

#gathering .gathehring-content .gathering-col-two {
  margin-left: 60px;
}

#gathering .gathehring-content .gathering-col-two h2 {
  font-family: monospace;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
}

#gathering .gathehring-content .gathering-col-two p {
  max-width: 450px;
  line-height: 1.5em;
  font-size: 25px;
  font-weight: 100;
}

#gathering .gathehring-content .gathering-col-two button {
  width: 250px;
  font-size: 20px;
  background: black;
  border-style: none;
  width: 200px;
  color: white;
  padding: 20px;
  margin-top: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

#gathering .gathehring-content .gathering-col-two ul {
  margin-top: 60px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: sans-serif;
}

#gathering .gathehring-content .gathering-col-two ul .light {
  color: grey;
  font-weight: 500;
}

#gathering .gathehring-content .gathering-col-two ul li {
  list-style: none;
  font-weight: 600;
  padding: 10px 0;
}

.footer-content-one {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.698))), url("../images/header.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.698)), url("../images/header.jpg");
  height: 200px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content-one .footer-row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-one .footer-row-one h1 {
  font-family: monospace;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: white;
  margin-right: 100px;
}

.footer-content-one .footer-row-one button {
  background: none;
  border-style: none;
  width: 200px;
  color: white;
  border: 1px solid white;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-content-two {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  grid-gap: 5px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  text-transform: capitalize;
}

.footer-content-two .col-one, .footer-content-two .col-two, .footer-content-two .col-three {
  font-family: monospace;
  font-size: 30px;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 500px) {
  #main-header {
    text-align: center;
  }
  #body {
    margin: 10px 0px;
  }
  #body .container {
    margin: 0;
  }
  #body .container .body-row {
    display: block;
  }
  #body .container .body-row .body-second-col, #body .container .body-row .body-third-col {
    margin-left: 0;
  }
  .body-row .body-first-col img, .body-fourth-col img {
    width: 0;
    height: 0;
    padding: 20px;
    max-width: 300px;
    max-height: 300px;
  }
  #highlights .container {
    margin: 0;
  }
  #highlights .hightlight-content {
    display: block;
  }
  #highlights .hightlight-content h2 {
    font-size: 30px;
  }
  #highlights .content {
    display: block;
  }
  #highlights .content img {
    width: 350px;
    height: 300px;
  }
  #highlights .content .highlight-col-text {
    text-align: center;
  }
  #highlights .content .highlight-col-text h4 {
    font-size: 30px;
  }
  #highlights .content .highlight-col-text p {
    font-size: 20px;
  }
  #gathering .gathehring-content {
    display: block;
  }
  #gathering .gathehring-content .gathering-col-one img {
    height: 300px;
    padding: 20px;
  }
  #gathering .gathehring-content .gathering-col-two {
    margin-left: 0;
  }
  .footer-content-one {
    display: block;
    height: 400px;
  }
  .footer-content-one .container {
    margin: 0;
  }
  .footer-content-one .footer-row-one {
    display: block;
  }
  .footer-content-one .footer-row-one h1 {
    margin-right: 0;
    text-align: center;
    margin-top: 50px;
  }
  .footer-content-one .footer-row-one button {
    margin-top: 60px;
    margin-left: 60px;
    width: 250px;
    padding: 30px;
    font-size: 20px;
    border: 2px solid white;
  }
  .footer-content-two {
    display: block;
    text-align: center;
  }
  .footer-content-two > div {
    margin: 40px 0;
    font-size: 25px;
  }
}
